.search-wrapper{
    /* width: 500px; */
    margin: 0 auto;
    
}
.search-wrapper ::placeholder{
    color: rgb(245, 221, 221);
}
#pokemon-name-search{
    margin-top: 2rem;
width: 600px;
padding: 1.5rem;
background: transparent;
}
